ul {
  text-align: left;
  line-height: 1.6;
  gap: 2rem;
}
li {
  color: white;
}
a:hover {
  color: #033858;
}
nav {
  background-color: rgb(66, 122, 255);
  padding: 1rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
